{% extends "admin/base.html.twig" %}

{% block mainadmin %}

<h2>Editing category</h2>

    <div class="row justify-content-center align-items-center">
        <form action="#" class="w-50" method="POST">
            <input type="text" class="form-control is-invalid" id="validationServer01" placeholder="Category name" value="{{ category.name }}"
                   required>
            <br>
            <label for="inlineFormCustomSelect">Parent:</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                {{ render(controller("App\\Controller\\AdminController::getAllCategories", {"editedCategory": category})) }}
            </select>
            <div class="invalid-feedback">
                Category already exists!
            </div>
            <button class="btn btn-primary mt-3" type="submit">Save</button>

        </form>
    </div>


{% endblock %}
